.main-container {
  &__columns-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #faffff;
    height: 100vh;
    width: calc(100% - 60px);
    padding: 24px 0;
    transition: .3s;

    &--sidebaropened {
      width: calc(100% - 300px);
    }

    .columns-container {
      &__columns-wrapper {
        display: flex;
        height: 100%;
        padding: 0 24px;
        overflow-x: auto;
      }

      &__add-button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: rgba(0, 0, 0, 0.02);
        margin-top: 40px;
        height: 80px;
        width: 280px;
        flex-shrink: 0;
        cursor: pointer;
        transition: .3s;
        border-radius: 12px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }

        .add-button {
          &__icon {
            height: 20px;
            border-radius: 50%;
            background-color: #2a60e4;
            margin-right: 8px;

            ::ng-deep {
              svg {
                fill: #fff;
              }
            }
          }

          &__text {
            font-weight: 700;
            color: #2a60e4;
          }
        }
      }
    }
  }
}

.add-column-form {
  &__input-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    min-height: 62px;
  }

  &__label {
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
  }

  &__input {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 8px;
    border-radius: 8px;
    border: 1px #000 solid;
    outline: none;

    &:focus-visible {
      box-shadow: inset 0px 0px 1px 1px rgba(94,126,255,0.6);
    }
  }
}