.main-container {
  &__columns-container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f0f6fc;
    height: 100vh;
    width: calc(100% - 60px);

    &--sidebaropened {
      width: calc(100% - 300px);
    }
  }
}