<div
  *ngIf="taskData"
  draggable="true"
  (dragstart)="handleDragStart($event)"
  (dragend)="handleDragEnd($event)"
  class="task-item"
>
  <div class="task-item__header">
    <div class="task-item__header-tags">
      <ng-container *ngFor="let tagId of taskData.tagsIds">
        <app-tag-item [data]="tagId | getTag" ></app-tag-item>
      </ng-container>
      <app-button [buttonType]="taskData.tagsIds.length ? 'small-icon' : 'small'" buttonText="Add tag"></app-button>
    </div>
    <button class="task-item__header-options">
      <ibm-icon-overflow-menu-horizontal size="24"></ibm-icon-overflow-menu-horizontal>
    </button>
  </div>
  <div class="task-item__content">
    {{ taskData.description }}
  </div>
  <div class="task-item__footer">
    <div class="task-item__footer-users">
      <ng-container *ngFor="let userId of taskData.usersIds">
        <app-user-item [data]="userId | getUser" ></app-user-item>
      </ng-container>
    </div>
    <div class="task-item__footer-details"></div>
  </div>
</div>
