<div
  *ngIf="taskData"
  draggable="true"
  (dragstart)="handleDragStart($event)"
  (dragend)="handleDragEnd($event)"
  class="task-item"
>
  <div class="task-item__header">
    <div class="task-item__header-tags">
      <ng-container *ngFor="let tagId of taskData.tagsIds">
        <app-tag-item [data]="tagId | getTag" ></app-tag-item>
      </ng-container>
      <app-button
        [buttonType]="taskData.tagsIds.length ? 'small-icon' : 'small'"
        buttonText="Add tag"
        (click)="openMenu($event, 'tags')"
        [class.menus__floating-button]="tagsMenuPosition[0]"
        [style.left]="tagsMenuPosition[0] + 'px'"
        [style.top]="tagsMenuPosition[1] + 'px'"
      ></app-button>
    </div>
    <button
      class="task-item__header-options"
      (click)="openMenu($event, 'options')"
      [class.menus__floating-button]="optionsMenuPosition[0]"
      [style.right]="optionsMenuPosition[0] + 'px'"
      [style.top]="optionsMenuPosition[1] + 'px'"
    >
      <ibm-icon-overflow-menu-horizontal class="header-options__icon" size="24"></ibm-icon-overflow-menu-horizontal>
    </button>
  </div>
  <div class="task-item__content">
    {{ taskData.description }}
  </div>
  <div class="task-item__footer">
    <div class="task-item__footer-users">
      <ng-container *ngFor="let userId of taskData.usersIds">
        <app-user-item [data]="userId | getUser" ></app-user-item>
      </ng-container>
    </div>
    <div class="task-item__footer-details"></div>
  </div>
</div>

<div *ngIf="taskData && tagsMenuPosition[0]"
  class="menus__tags-menu"
  (click)="closeMenu()"
  [style.left]="tagsMenuPosition[0] + 'px'"
  [style.top]="tagsMenuPosition[1] + 30 + 'px'"
  [@enterAnimation]
>
</div>

<div *ngIf="taskData && optionsMenuPosition[0]"
  class="menus__options-menu"
  (click)="closeMenu()"
  [style.right]="optionsMenuPosition[0] + 'px'"
  [style.top]="optionsMenuPosition[1] + 40 + 'px'"
  [@enterAnimation]
>
</div>
