<div class="sidebar" [class.sidebar--opened]="selectedItem !== ''">
  <div class="sidebar__menu">
    <div class="sidebar__menu-top">
      <a routerLink="/" class="menu-top__logo"></a>
      <button class="menu-top__nav-item" [class.menu-top__nav-item--selected]="selectedItem === 'main'" (click)="selectSidebarItem('main')">
        <ibm-icon-grid class="nav-item__icon" size="32"></ibm-icon-grid>
      </button>
      <button class="menu-top__nav-item" [class.menu-top__nav-item--selected]="selectedItem === 'people'" (click)="selectSidebarItem('people')">
        <ibm-icon-events class="nav-item__icon" size="32"></ibm-icon-events>
      </button>
      <button class="menu-top__nav-item" [class.menu-top__nav-item--selected]="selectedItem === 'tasks'" (click)="selectSidebarItem('tasks')">
        <ibm-icon-list-checked class="nav-item__icon" size="32"></ibm-icon-list-checked>
      </button>
    </div>
    <div class="sidebar__menu-bottom"></div>
  </div>
  <div class="sidebar__items"></div>
</div>
