<div class="sidebar" [class.sidebar--opened]="opened">
  <div class="sidebar__menu">
    <div class="sidebar__menu-top">
      <a routerLink="/" class="menu-top__logo"></a>
      <button class="menu-top__nav-item">
        <i class="flaticon-business flaticon-002-gantt-chart"></i>
      </button>
      <button class="menu-top__nav-item">
        <i class="flaticon flaticon-001-mail-inbox-app"></i>
      </button>
      <button class="menu-top__nav-item">
        <i class="flaticon flaticon-001-mail-inbox-app"></i>
      </button>
    </div>
    <div class="sidebar__menu-bottom"></div>
  </div>
  <div class="sidebar__items"></div>
</div>
